body{
    background:url("https://wallpaperaccess.com/full/721189.jpg");
    background-size:100rem;
    
}
form{
    background:transparent;
    width:300px;
    height:27rem;
    border-radius:20px;
    padding:20px;
    box-shadow:3px 2px 2px 3px rgb(3, 69, 110);
    position:relative;
    left:65rem;
    top:40px
}
h1{
    font-size:3.5rem;
    position:absolute;
    left:10rem;
}